<!doctype html>
<html lang="en" style="font-size: min(7vw, 24px)">
	<head>
		<%= render 'head' %>
		<meta name="description" content="About Page">
	</head>
	<body>
		<div style="background-color: #779ee0;">
			<%= render 'menu-bar' %>
		</div>
		<div style="background-color: #38568a;">
			<div class="container text-center">
				<p class="fs-3 p-3 text-white">Meet the Band</p>
			</div>
			<div class="container">
				<div class="align-items-center row">
					<div class="col-6 col-xs-12 p-3">
						<img src="/assets/Brad.JPG" class="img-fluid rounded-circle" alt="Cowboy Brad"/>
					</div>
					<div class="col-6 col-xs-12 text-center">
						<p  style="font-size: min(24px, 4vw);" class="p-3 text-white">Brad Fitch covers Paul's guitar and vocal parts</p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="align-items-center row">
					<div class="col-6 col-xs-12 text-center">
						<p  style="font-size: min(24px, 4vw);" class="p-3 text-white">Mark Rashid covers Peter's guitar parts</p>
					</div>
					<div class="col-6 col-xs-12 p-3">
						<img src="/assets/Mark.JPG" class="img-fluid rounded-circle" alt="Cowboy Brad"/>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="align-items-center row">
					<div class="col-6 col-xs-12 p-3">
						<img src="/assets/Melinda.JPG" class="img-fluid rounded-circle" alt="Cowboy Brad"/>
					</div>
					<div class="col-6 col-xs-12 text-center">
						<p  style="font-size: min(24px, 4vw);" class="p-3 text-white">Melinda Morris covers Mary's vocal parts</p>
					</div>
				</div>
			</div>
			<div class="container pb-4">
				<div class="align-items-center row">
					<div class="col-6 col-xs-12 text-center">
						<p  style="font-size: min(24px, 4vw);" class="p-3 text-white">Steve Tice covers bass and Peter's vocal parts</p>
					</div>
					<div class="col-6 col-xs-12 p-3">
						<img src="/assets/Steve.JPG" class="img-fluid rounded-circle" alt="Cowboy Brad"/>
					</div>
				</div>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
	</body>
</html>
